.contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.contact {
    background-color: azure;
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 750px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 750px;
}

.submit {
    background-color: white;
    border: 2px solid green;
}

.submit:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.typing {
    background-color: azure;
}

.message {
    font-size: 25px;
    margin-top: 25px;
}